.text-settings {
    position: relative;
    display: inline-block;
    margin-top: 100px;
}

.text-settings .text-tooltip {
    border-bottom: 2px dotted red;
    cursor: help;
}

.text-settings .tooltip {
    position: absolute;
    text-align: left;
    top: -45px;
    color: white;
    visibility: hidden;
    background-color: orangered;
    border-style: solid;
    width: 200px;
    left: 20%;
    border-radius: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

.text-tooltip:hover .tooltip {
    visibility: visible;
}

.text-settings .tooltip::after {
    content: " ";
    position: absolute;
    top: 32px;
    left: 48%;
    border: 9px solid transparent;
    border-top-color: orangered;
}
